<main class="landing__main--container">
  <section class="main__section--appInfo">
    <h1 class="section__h1--title">Eats Ease</h1>
    <h2 class="section__h2--subtitle">
      Planifica tus comidas sin esfuerzo con nuestro generador de comidas.
    </h2>
    <span>
      Descubre nuevas recetas y ahorra tiempo con nuestro generador inteligente
      de comidas.
    </span>
    <a
      class="section__a--generateMeals"
      [routerLink]="'/' + customRoutes.SIGN_IN"
      >Inicia sesión aquí
      <span class="material-icons-outlined"> rocket_launch </span></a
    >
  </section>
  <section class="main__section--infoTexts">
    <article class="section__article--mainInfo">
      <h3 class="article__h3--keyFeatures">Características principales</h3>
      <h2 class="article__h2--keyFeatures">
        Descubra la potencia de nuestro generador de comidas.
      </h2>
      <span class="article__span--keyFeatures">
        Nuestro generador de comidas ofrece una serie de funciones para que su
        experiencia culinaria sea agradable y sin esfuerzo.</span
      >
    </article>
    <article class="section__article--secondaryInfo">
      <h2 class="article__h2--infoTitle">Filtros dietéticos</h2>
      <span>
        Encuentre fácilmente recetas que se adapten a sus necesidades
        dietéticas, ya sea vegetariano, vegano o tenga alergias específicas.
      </span>
    </article>
    <article class="section__article--secondaryInfo">
      <h2 class="article__h2--infoTitle">Variedad de recetas</h2>
      <span>
        Explora una amplia biblioteca de recetas, desde platos clásicos hasta
        innovadoras creaciones culinarias, para que nunca te falte la
        inspiración.
      </span>
    </article>
    <article class="section__article--secondaryInfo">
      <h2 class="article__h2--infoTitle">Ahorro de tiempo</h2>
      <span>
        Nuestro generador de comidas le ahorra tiempo en la cocina, ya que le
        proporciona recetas más raíces y fáciles de seguir.
      </span>
    </article>
  </section>
  <section class="main__section--reviews">
    <h2 class="section__h2--review">Lo que dicen nuestros usuarios</h2>
    <div class="section__div--reviews">
      <article class="div__article--review">
        <div class="article__div--profile">
          <img
            src="https://placehold.co/500x500/EEE/31343C"
            alt="profile user avatar"
            class="div__img--avatar"
          />
          <span class="div__span--profileName"
            >Nombre de usuario largo larguisimo</span
          >
        </div>
        <span class="article__span--review">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </article>
      <article class="div__article--review">
        <div class="article__div--profile">
          <img
            src="https://placehold.co/500x500/EEE/31343C"
            alt="profile user avatar"
            class="div__img--avatar"
          />
          <span class="div__span--profileName"
            >Nombre de usuario largo larguisimo</span
          >
        </div>
        <span class="article__span--review">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </article>
      <article class="div__article--review">
        <div class="article__div--profile">
          <img
            src="https://placehold.co/500x500/EEE/31343C"
            alt="profile user avatar"
            class="div__img--avatar"
          />
          <span class="div__span--profileName"
            >Nombre de usuario largo larguisimo</span
          >
        </div>
        <span class="article__span--review">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </article>
    </div>
  </section>
  <section class="main__section--cta">
    <h2 class="section__h2--cta">Empieza a preparar comidas sin esfuerzo</h2>
    <span
      >Prueba nuestro generador de comidas y descubre el placer de planificar
      comidas sin complicaciones.</span
    >
    <div class="section__div--links">
      <a
        class="div__a--generateMealsLink"
        [routerLink]="'/' + customRoutes.RECIPES_GENERATOR"
        >Genera tus comidas</a
      >
      <a class="div__a--contactLink" [routerLink]="'/' + customRoutes.CONTACT"
        >Contáctanos</a
      >
    </div>
  </section>
</main>
