<app-layout>
  <main class="fridge__main--container">
    <section class="main__section--searchBar">
      <input
        placeholder="Busca tus ingredientes"
        class="section__input--search"
        [(ngModel)]="searchedIngredientInput"
        (ngModelChange)="handleIsSearchingIngredients()"
      />
      <span class="material-icons-outlined"> search </span>
    </section>
    <section class="main__section--addIngredient">
      <button
        class="section__button--showAddIngredientSection"
        (click)="handleShowAddIngredientsSection()"
      >
        Añadir nuevo ingrediente
        <span class="material-icons-outlined">{{
          isAddingIngredient ? "keyboard_arrow_up" : "keyboard_arrow_down"
        }}</span>
      </button>
      @if (isAddingIngredient) {
      <app-add-ingredient-form />
      }
    </section>
    <section class="main__section--ingredientsList">
      @for (ingredient of $fridgeIngredients()| filterIngredients:
      searchedIngredientInput; track ingredient.id) {
      <app-ingredient [ingredient]="ingredient" />
      } @if(isSearchingIngredients && !findedIngredient) {
      <article class="article__ingredient--notFound">
        <img
          alt="not-found-ingredient"
          src="assets/stickers/not-found.png"
          class="image__ingredient--notFound"
        />
        <p>Oops! Parece que no hay ingredientes para mostrar</p>
      </article>

      }
    </section>
  </main>
</app-layout>
